/* =========================
   HERO SECTION
========================= */

.hero{
  padding:90px 0;
  background:#ffffff;
  overflow:hidden;
}

/* BIG TOP TITLE */
.hero-main-title{
  text-align:center;
  font-size:56px;
  font-weight:800;
  margin-bottom:70px;
  color:#000;
}

.hero-main-title span{
  color:#d28a07;
}

/* Layout */
.hero-wrapper{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:60px;
  padding-left:60px;
  padding-right:60px;
}

/* LEFT SIDE TEXT */
.hero-text{
  flex:1;
}

.hero-text h2{
  font-size:48px;
  font-weight:700;
  line-height:1.15;
  color:#000;
  margin-bottom:25px;
}

.hero-text h2 span{
  color:#d28a07;
}

.hero-text p{
  font-size:15px;
  line-height:1.7;
  color:#555;
  margin-bottom:18px;
  max-width:520px;
}

/* BUTTONS */
.hero-buttons{
  margin-top:30px;
  display:flex;
  gap:18px;
}

.primary-btn{
  background:#d28a07;
  color:#fff;
  border:none;
  padding:12px 28px;
  border-radius:8px;
  font-size:15px;
  cursor:pointer;
}

.secondary-btn{
  background:#fff;
  color:#d28a07;
  border:1.5px solid #d28a07;
  padding:12px 28px;
  border-radius:8px;
  font-size:15px;
  cursor:pointer;
}

/* RIGHT SIDE IMAGE */
.hero-image{
  flex:1;
  display:flex;
  justify-content:flex-end;
}

.hero-image img{
  width:100%;
  max-width:450px;
  height:auto;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width:992px){

  .hero-main-title{
    font-size:42px;
  }

  .hero-wrapper{
    flex-direction:column;
    text-align:center;
  }

  .hero-text h2{
    font-size:38px;
  }

  .hero-text p{
    margin:0 auto 18px;
  }

  .hero-buttons{
    justify-content:center;
  }

  .hero-image{
    justify-content:center;
    margin-top:40px;
  }
}

@media (max-width:576px){

  .hero-main-title{
    font-size:34px;
  }

  .hero-text h2{
    font-size:32px;
  }
}
