/* ============================
   ABOUT SECTION
============================ */

.about-section{
  padding:100px 8%;
  background:#ffffff;
}

.about-container{
  max-width:1200px;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:80px;
}

/* LEFT */

.about-left{
  max-width:520px;
}

.about-tag{
  display:inline-block;
  background:#ffe6bf;
  color:#f4a100;
  padding:6px 14px;
  border-radius:20px;
  font-size:13px;
  font-weight:600;
  margin-bottom:18px;
}

.about-title{
  font-size:46px;
  font-weight:800;
  line-height:1.2;
  margin-bottom:20px;
}

.about-title span{
  color:#f4a100;
}

.about-left p{
  font-size:15px;
  line-height:1.8;
  color:#555;
}

/* STATS */

.about-stats{
  margin-top:40px;
  display:flex;
  gap:60px;
}

.about-stats h3{
  font-size:38px;
  color:#f4a100;
  margin-bottom:6px;
}

.about-stats span{
  font-size:15px;
  font-weight:600;
  color:#111;
}

/* RIGHT */

.about-right img{
  width:100%;
  max-width:480px;
}

/* RESPONSIVE */

@media(max-width:900px){

  .about-container{
    flex-direction:column;
    text-align:center;
  }

  .about-stats{
    justify-content:center;
  }
}
