.products-page{
  padding:100px 8%;
  background:#fffaf4;
  min-height:80vh;
  text-align:center;
}

.products-title{
  font-size:42px;
  font-weight:800;
  margin-bottom:10px;
}

.products-subtitle{
  color:#555;
  margin-bottom:60px;
}

.products-container{
  max-width:1000px;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
  gap:30px;
}

.product-box{
  background:#ffffff;
  padding:30px;
  border-radius:12px;
  box-shadow:0 6px 20px rgba(0,0,0,0.08);
  text-align:left;
  transition:0.3s;
}

.product-box:hover{
  transform:translateY(-6px);
  border:2px solid #f4a100;
}

.product-box h2{
  color:#f4a100;
  margin-bottom:10px;
}

.product-box p{
  color:#444;
  line-height:1.6;
  font-size:15px;
}
