/* ================= CONTACT ================= */

.contact{
  background:#fdfaf6;
  padding-top:40px;
  position:relative;
}

/* TOP LINE */
.contact-line{
  height:2px;
  width:90%;
  margin:auto;
  background:#f4a100;
}

/* MAIN CONTENT */
.contact-content{
  display:grid;
  grid-template-columns:2fr 1fr 1fr 1fr;
  gap:70px;
  padding:80px 8%;
}

/* Bigger Columns */
.big-col{
  min-height:260px;
}

/* LOGO */
.contact-logo{
  font-size:30px;
  font-weight:800;
  color:#f4a100;
}

.contact-tagline{
  margin-bottom:20px;
  color:#555;
}

/* HEADINGS */
.contact-heading{
  color:#f4a100;
  margin-bottom:18px;
  font-size:20px;
}

/* TEXT */
.contact-col h4{
  margin-top:18px;
  margin-bottom:8px;
}

.contact-col p{
  font-size:14px;
  color:#444;
  margin-bottom:4px;
}

/* LISTS */
.contact-col ul{
  list-style:none;
  padding:0;
}

.contact-col li{
  margin-bottom:14px;
}

/* CLICKABLE LINKS */
.contact-col a{
  text-decoration:none;
  font-size:16px;
  color:#333;
  transition:0.3s;
}

.contact-col a:hover{
  color:#f4a100;
  padding-left:4px;
}

/* SOCIAL ICONS */
.contact-socials{
  position:absolute;
  right:40px;
  bottom:90px;
  display:flex;
  gap:12px;
}

.contact-socials a{
  width:42px;
  height:42px;
  background:#f4a100;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  font-size:16px;
  transition:0.3s;
}

.contact-socials a:hover{
  background:#d89000;
  transform:scale(1.1);
}

/* BOTTOM BAR */
.contact-bottom{
  background:#f4a100;
  color:#fff;
  text-align:center;
  padding:16px;
  margin-top:40px;
  font-size:14px;
}

/* RESPONSIVE */

@media(max-width:900px){
  .contact-content{
    grid-template-columns:1fr 1fr;
  }

  .contact-socials{
    position:static;
    justify-content:center;
    margin-bottom:20px;
  }
}

@media(max-width:600px){
  .contact-content{
    grid-template-columns:1fr;
  }
}
